<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frox.world.com">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- acces a une carte de stockage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- to access gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".firebase.FriendDetailsActivity"></activity>
        <activity android:name=".firebase.NewFriendActivity" />
        <activity android:name=".firebase.FirebaseFriendActivity" />
        <activity android:name=".controller.CardDetailActivity" />
        <activity android:name=".controller.CardActivity" />
        <activity android:name=".controller.ProfilActivity" />
        <activity android:name=".controller.FriendActivity" />
        <activity android:name=".controller.authentication.LoginActivity" />
        <activity android:name=".firebase.ImageActivity" />
        <activity android:name=".firebase.ClimberDetailsActivity" />
        <activity android:name=".firebase.NewClimberActivity" />
        <activity android:name=".firebase.FirebaseActivity" />
        <activity android:name=".controller.authentication.FacebookLoginActivity" />
        <activity android:name=".controller.user.UserActivity" />
        <activity android:name=".room.recyclerView.RecyclerUserActivity" />
        <activity android:name=".controller.PhotoActivity" />
        <activity android:name=".controller.cartography.CartographyActivity" />
        <activity android:name=".room.recyclerView.RecyclerCardActivity" />
        <activity android:name=".controller.UrlActivity" />
        <activity android:name=".controller.climber.ClimberActivity" />
        <activity android:name=".controller.ApiActivity" />
        <activity
            android:name=".controller.card.Card2Activity"
            android:label="@string/title_activity_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.HomeActivity" />
        <activity android:name=".controller.GameActivity" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>